/* remove default margin and borders */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root page variables */
:root {
    --button-select: #800080;
    --button-font: white;
}

/* HTML styled elements */
body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-weight: bolder;
    padding: 25px;
    text-align: center;
}

main p {
    padding: 5px 25px;
    text-align: center;
    font-size: 1.2rem;
}

.question-page {
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.question {
    font-weight: lighter;
    padding: 25px;
}

.answer-list {
    padding:5px 25px;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
}

.answer-list li {
    margin: 10px auto;
}
.answer-list p {
    padding: 5px 25px;
    text-align: center;
    font-size: 1.2rem;
}

.button {
    outline: none;
    border: none;
    display: inline-block;
    background-color: var(--button-select);
    color: var(--button-font);
    border-radius: 10px;
    margin: 10 px auto;
    width: 200px;
    height: 50px;
}

form {   
    margin: 10px 6px 10px 0;
}
.form-group {
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: center;
}
  
form input {
    outline: none;
    border: none;
    padding: 12px;
    width: 50%;
    font-size: 1.5rem;
    border: 2px solid var(--grey);
    border-radius: 12px;
}

#score-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    list-style-type: none;
}

/* JS style */
.question-confirm-message {
    text-align: center;
    font-weight: lighter;
}

